[submodule "jni/external/x-watcher"]
	path = jni/external/x-watcher
	url = https://github.com/nikp123/x-watcher.git
[submodule "jni/external/spdlog"]
	path = jni/external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "jni/external/rapidjson"]
	path = jni/external/rapidjson
	url = https://github.com/Tencent/rapidjson.git
