[submodule "jni/external/spdlog"]
	path = jni/external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "jni/external/rapidjson"]
	path = jni/external/rapidjson
	url = https://github.com/Tencent/rapidjson.git
