@import './base.css';
@import './fonts.css';
@import './copy_guard.css';

.main-content {
  padding-top: var(--window-inset-top, 0px);
  height: 100dvh;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html::-webkit-scrollbar {
  width: 0px;
}

body {
  font-family: 'Google Sans Flex', system-ui, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100dvh;
  width: 100%;
  overflow: hidden;
}

body,
.page,
.main-content {
  overscroll-behavior: none;
}

.page {
  height: 100%;
  overflow: hidden;
}

@media (min-width: 768px) {
  .page {
    padding-left: 1rem;
  }
}

a,
button,
input,
select,
textarea {
  -webkit-tap-highlight-color: transparent;
}
