---
BasedOnStyle: LLVM

ColumnLimit: 135
AccessModifierOffset: -4
IndentWidth: 4
UseTab: Never

AlignEscapedNewlines: Left
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: true
BreakConstructorInitializers: BeforeComma
IndentPPDirectives: BeforeHash
PointerAlignment: Left
AllowShortEnumsOnASingleLine: false
