@import url('https://mui.kernelsu.org/internal/insets.css');
@import url('https://mui.kernelsu.org/internal/colors.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

.root_layout {
  padding-top: var(--window-inset-top, 0px);
  padding-bottom: var(--window-inset-bottom, 0px);
}

.card_border {
  border: 1px solid color-mix(in srgb, var(--outline) 12%, transparent);
}
